<div class="footer-content" id="about">About</div>
<div class="footer-content" id="contact">Contact</div>
<div class="footer-content" id="conditions">Conditions</div>
<div class="mdc-dialog" id="footer-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h4 class="mdc-dialog__title" id="footer-dialog-title"><!--
            --><!--
            --></h4>

            <div class="mdc-dialog__content" id="footer-dialog-content"></div>
            <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" id="close-button">
                    <span class="mdc-button__label">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>